.Login-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

.Login-title {
  font-size: 32px;
  color: white;
  margin-bottom: 30px;
}
